@font-face {
  font-family: 'YourFontName';
  src: url('./dpdorkdiary-font/Dpdorkdiary-P267.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display:flex;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'YourFontName', sans-serif; /* Use Dpdorkdiary-P267 as the primary font family */
  background-color: #384049;
}

.wrapper {
  height: 300px;
  width: 500px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.evelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 100px solid transparent;
  border-right: 250px solid transparent;
  border-left: 250px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

.bottom-lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  border-bottom: 300px solid #eed9c4;
  transform-origin: bottom;
  transition: transform 0.25s linear;
}

.lid.one {
  border-top: 200px solid #f5f5dc;
  transform: rotateX(0deg);
  transition-delay: 0.75s;
  z-index: 2;
}

.lid.two {
  border-top: 200px solid white;
  transform: rotateX(90deg);
  transition-delay: 0.5s;
}

.bottom-lid.one {
  border-bottom: 300px solid #eed9c4;
  transform: rotateX(0deg);
  transition-delay: 0.75s;
  z-index: 1;
}

.bottom-lid.two {
  border-bottom: 300px solid white;
  transform: rotateX(90deg);
  transition-delay: 0.5s;

}

.wrapper.clicked .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}.wrapper.clicked .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.wrapper.clicked .bottom-lid.one {
  transform: rotateX(90deg);
  transition-delay: 0.5s;
}
.wrapper.clicked .bottom-lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.75s;
}

.letter {
  top: 0;
  width: 90%;
  height: 90%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 
.letter p {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: #3b4049;
} */

.letter .content {
  width: 90%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 0px;
  transition: top 0.5s ease
  , transform 0.5s ease;
  padding: 5px;
}

.content-1 .body{
  background-color: beige;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.07);

}
.content-2 .body{
  background-color: lightpink;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.07);
}

.content-3 .body{
  background-color: beige;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.07);
}

.content-4 .body{
  background-image: url("./assets/background-2.png");
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.07);
}

.content-5 .body{
  background-color: beige;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.07);
}

.page-2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center ;
  padding: 10px;
  font-size: 50px;
}

.page-4{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end ;
  padding-bottom: 40px;
}

.page-2 .letter-line {
  justify-content: center; 
  width: 100%;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

.heart {
  animation: doki 0.1s linear infinite  ;
}

.sun {
  box-shadow: 0 0 40px rgba(243, 227, 5, 0.07);
}

.page-3{
  background-image: url("./assets/istockphoto-1191251531-612x612.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

@keyframes doki {
  0% {width: 60px;}
  50% {width: 64px;}
  100% {width: 68px;}
}

.second-letter{
  cursor: pointer;
  justify-content: center;
}

.third-letter{
  justify-content: end;
  width: 100%;
  align-items: center;

}

.hp-1{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.pointer-1{
  width: 50px;
  height: 120px;
}

.pointer-con{
  transform: rotate(253deg) translateY(-40px);
  animation: point-max 2s linear forwards;
}

@keyframes point-max {
  0% {transform: rotate(270deg) translateY(-40px)}
  100% {transform: rotate(470deg) translateY(-40px)}
}